@import "src/styles.scss";

.wrapper {
  width: 80%;
  background-color: $primary-color;
  margin: auto;
}

.title,
.searchbar {
  justify-content: center;
  text-align: center;
  margin: 20px 0px 0px 20px;
}
